<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
                   id="org.apache.cordova.navigationBar"
              version="0.0.1-dev">

    <name>NavigationBar</name>
    <author>....</author>
    <description>Cordova NavigationBar Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,NavigationBar</keywords>

    <!-- android -->
        <!-- ios -->
    <platform name="ios">
        <js-module src="www/NavigationBar.js" name="NavigationBar">
            <clobbers target="plugin.NavigationBar" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="NavigationBar">
                <param name="ios-package" value="NavigationBar"/>
            </feature>
        </config-file>

        <resource-file src="src/ios/CDVNavigation.xib" />

        <header-file src="src/ios/NavigationBar.h" />
        <header-file src="src/ios/CDVNavigationBarController.h" />

        <source-file src="src/ios/NavigationBar.m" />
        <source-file src="src/ios/CDVNavigationBarController.m" />
    </platform>
</plugin>
